body.login, .signup {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #242424;
  }

  img {
    width: 100px;
    margin-bottom: -20px;
  }

  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: rgba(255, 255, 255, 0.822);
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #024a7a;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #206fa3;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .box input[type = "submit"]{
    border:0;
    background: #242424;
    display: flex;
    margin: 10px auto 30px;
    text-align: center;
    border: 2px solid #242424;
    border-radius: 24px;
    padding: 14px 40px;
    outline: none;
    font-weight: bold;
    color: white;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #024a7a;
    border: 2px solid #024a7a;
    margin-top: 30px;
    margin-bottom: 30px;
}
  
  a.signup-now {
    color: #525252;
    background: transparent;
    text-decoration: none;
  }

  a span {
    color: #024a7a;
  }

  a, a span:hover{
    color: white; }